---
layout: default
---

<header class="triple">
  <section>
    <h1>Michael Kelly</h1>
    <p>{{ site.description }}</p>
  </section>
  <section>
    <img src="assets/profile.png" />
  </section>
  <section>
    <span class='social-link'>
      <a href='mailto:michaelkelly322@gmail.com' target='_top'>michaelkelly322@gmail.com</a><i class='fa fa-envelope' aria-hidden=true></i><br />
    </span>
    <span class='social-link'>
      <a href='https://twitter.com/thebadmonkeydev' target='_top'>@thebadmonkeydev</a><i class='fa fa-twitter' aria-hidden=true></i><br />
    </span>
    <span class='social-link'>
      <a href='https://github.com/thebadmonkeydev' target='_top'>thebadmonkeydev</a><i class='fa fa-code-fork' aria-hidden=true></i><br />
    </span>
  </section>
</header>

<div class="double-column">
  <div class='experience'>
    <ul>
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.start | date: "%m/%Y" }} - {{ post.finish | data: "%m/%Y" }}</span>

          <h2>
            {{ post.company | escape }}
          </h2>
          <span class='post-meta'>{{ post.title }}</span>

          <ul class='simple'>
            {% for item in post.achievements %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class='personal'>
    FOO
  </div>
</div>
