<div class='experience'>
  <h2>Professional Experience</h2>
  <ul>
    {% for job in site.data.jobs %}
      <li class='block fade fade-in-element'>
        <span class="job-meta">{{ job.start | date: "%m/%Y" }} - {{ job.finish | data: "%m/%Y" }}</span>

        <h3>
          <a href={{job.company_url}} target='_blank'>{{ job.company | escape }}</a>
        </h3>
        <span class='job-meta'>{{ job.title }}</span>

        <ul class='simple'>
          {% for item in job.achievements %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
