<div class='introduction'>
  <header class="triple">
    <section>
      <h1>Michael Kelly</h1>
      <p>{{ site.description }}</p>
    </section>
    <section>
      <div class='img-wrap'>
        <img class='img-circle' src="assets/profile.png" />
      </div>
    </section>
    <section>
      <span class='social-link'>
        <a class='truncate' href='mailto:michaelkelly322@gmail.com' target='_blank'>michaelkelly322@gmail.com</a><i class='fa fa-envelope' aria-hidden=true></i><br />
      </span>
      <span class='social-link'>
        <a href='https://twitter.com/thebadmonkeydev' target='_blank'>@thebadmonkeydev</a><i class='fa fa-twitter' aria-hidden=true></i><br />
      </span>
      <span class='social-link'>
        <a href='https://github.com/thebadmonkeydev' target='_blank'>thebadmonkeydev</a><i class='fa fa-code-fork' aria-hidden=true></i><br />
      </span>
      <span class='social-link'>
        <a href='http://www.slideshare.net/MichaelKelly21' target='_blank'>MichaelKelly</a><i class='fa fa-slideshare' aria-hidden=true></i><br />
      </span>
    </section>
  </header>
</div>
