<div class='introduction'>
  <header class="triple">
    <section>
      <h1>Michael Kelly</h1>
      <p>{{ site.description }}</p>
    </section>
    <section>
      <div class='img-wrap'>
        <img class='img-circle' src="assets/profile.png" />
      </div>
    </section>
    <section>
      <div class='social-link'>
        <a class='truncate' href='mailto:michaelkelly322@gmail.com' target='_blank'><span class='text'>michaelkelly322@gmail.com</span><i class='fa fa-envelope' aria-hidden=true></i></a>
      </div>
      <div class='social-link'>
        <a href='https://twitter.com/thebadmonkeydev' target='_blank'><span class='text'>@thebadmonkeydev</span><i class='fa fa-twitter' aria-hidden=true></i></a>
      </div>
      <div class='social-link'>
        <a href='https://github.com/thebadmonkeydev' target='_blank'><span class='text'>thebadmonkeydev</span><i class='fa fa-github' aria-hidden=true></i></a>
      </div>
      <div class='social-link'>
        <a href='http://www.slideshare.net/MichaelKelly21' target='_blank'><span class='text'>MichaelKelly</span><i class='fa fa-slideshare' aria-hidden=true></i></a>
      </div>
    </section>
  </header>
</div>
