<div class='talks'>
  <h2>Tech Talks</h2>
  <ul>
    <li>
      <div class='video'>
        <div class='video-wrapper'>
          <iframe src="https://www.youtube.com/embed/KVkQ9UEQk0Y?showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <span class='post-meta'><em>RailsConf 2016: </em>May 2016 - Kansas City, MO</span>
    </li>
    <li>
      <div><a href='javascript:void(0)' target='_blank'>Hey, do you even PORO?</a> - coming soon</div>
      <span class='post-meta'><em>Rails Remote Conf 2016: </em>Oct 2016 - The Interwebz</span>
    </li>
  </ul>
</div>
