$mobile: new-breakpoint(max-width 500px);
$middle: new-breakpoint(max-width 690px);
$desktop: new-breakpoint(min-widht 850px);

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.img-wrap {
  padding: 20px;
}

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}

.img-circle {
  border-radius: 50%;
}
